.example-container{
    height: 100vh;
}

.toolbar{
    background-color: #fa9e12;

    .menu-btn{
        background: none;
        border: none;
        cursor: pointer;
    }
}

.sidenav{
    width: 300px !important;
}

.channels-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.channel-tree{
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover{
        background-color: rgb(78, 78, 78);
    }
}

.tree{
    cursor: pointer;

    &:hover{
        background-color: rgb(78, 78, 78);
    }
}

.add-channel-btn{
    margin-left: 9em;
}

.channel-div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding-left: 60px;
    padding-block: 10px;

    &:hover{
        background-color: grey !important;
    }

    &:hover .more-btn{
        visibility: visible !important; 
    }

    .more-btn{
        //margin-right: 40px;
        visibility: hidden;
        line-height: 0;
    }
}

.user-cards {
    width: 90%;
    position: absolute;
    bottom: 30px;
    padding-left: 5px;
}

.account-circle{
    position: inherit;
    top: 6px;
    padding-right: 4px;
}

.user-cards-2{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.led-green {
    position: absolute;
    //margin: 20px auto;
    width: 8px;
    height: 8px;
    background-color: rgb(85, 255, 6);
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset rgb(18, 175, 4) 0 -1px 9px, #7D0 0 2px 12px;
}