.example-container{
    height: 100vh;
}

.toolbar{
    background-color: #7b1fa2;

    .menu-btn{
        background: none;
        border: none;
        cursor: pointer;
        filter: invert(1);
    }
}

.sidenav{
    width: 300px !important;
}