.example-container{
    height: 100vh;
}



.toolbar{
    background-color: #fa9e12;
    

    .menu-btn{
        background: none;
        border: none;
        cursor: pointer;
    }

    .container2{
        justify-content: space-between;
    }
}

.user-img{
    width: 100%;
    height: 20%;
    margin-top: 0;
}

.log-out-btn{
    display: flex;
    justify-content: center;
    color: rgb(255, 34, 34);
    width: 40vw;
}

.sidenav{
    width: 300px !important;
}

.channels-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.threads-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    width: 100%;
    background: none;
    cursor: pointer;
    color: white;
    padding: 20px 10px;

    mat-icon{
        margin-right: 10px;
    }

    &:hover{
        background-color: rgb(78, 78, 78);
    }
}

.channel-tree{
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover{
        background-color: rgb(78, 78, 78);
    }
}

.tree{
    cursor: pointer;

    &:hover{
        background-color: rgb(78, 78, 78);
    }
}

.add-channel-btn{
    margin-left: 9em;
}

.channel-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;

    &:hover{
        background-color: grey !important;
    }

    &:hover .more-btn{
        visibility: visible !important; 
    }

    .more-btn{
        margin-right: 20px;
        visibility: hidden;
        line-height: 0;
    }

    .channel-name{
        margin-left: 20px;
    }
}

.user-cards {
    width: 90%;
    position: absolute;
    bottom: 30px;
    padding-left: 5px;
}

.account-circle{
    position: inherit;
    top: 6px;
    padding-right: 4px;
}

.mat-card{
    height: 18px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover{
        background-color: rgb(78, 78, 78);
    }
}

.user-cards-2{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.led-green {
    position: absolute;
    //margin: 20px auto;
    width: 8px;
    height: 8px;
    background-color: rgb(85, 255, 6);
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset rgb(18, 175, 4) 0 -1px 9px, #7D0 0 2px 12px;
}