
    <mat-drawer-container class="login-background" autosize>

        <mat-toolbar class="toolbar" >
            <mat-toolbar-row>
                <img class="logo" src="assets/icons/LogoMakr-86Inc5.png" alt="">
                <span>Slack</span>
            </mat-toolbar-row>
        </mat-toolbar>
     
        <div class="form-container">
            <form class="login-field">
                <div class="login-div">
                    <h2>Email has been sent</h2>   
                    <p>Link has sent on your registered email. Please varify it.</p>
                    <a href="/login" class="back-to-login-btn" mat-raised-button color="primary">Back to Login</a>
                </div>       
            </form>
        </div>
    </mat-drawer-container>





<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-danger text-muted">Welcome</h4>
                        </div>
                        <div class="mb-3">
                            <p class="text-muted">Link has sent on your registered email. Please varify it.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>