<mat-drawer-container class="login-background" autosize>

    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <img class="logo" src="assets/icons/LogoMakr-86Inc5.png" alt="">
            <span>Slack</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="form-container">
        <form class="login-field">
            <div class="login-div">
                <h2>Email has been sent</h2>
                <p>A verification link has been sent to your registration email. Please click on it to finish the email
                    validation process.</p>
                <a href="/login" class="back-to-login-btn" mat-raised-button color="primary">Back to Login</a>
            </div>
        </form>
    </div>
</mat-drawer-container>