.form-container {
    height: calc(100vh - 64px);
}

.login-background{
    height: 100vh;
    background: radial-gradient(#414141, #111111);
}

.toolbar{
    background-color: #ff8800;
    height: 5vh;

    .logo{
        width: 40px;
        margin-right: 10px;
    }
}

.a-tags{
    margin-top: 10px;
    display: flex;
    justify-content: center;

    a{
        color: white;
        margin-left: 25px;
        margin-right: 25px;

        &:hover{
            text-decoration: underline !important;
        }
    }
}

.login-field{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 40vh;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    background-color: #282828b0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);

    .company-div{
        display: flex;
        justify-content: center;
        height: 100%;
        flex: 1;
        background-color: #313131b0;
    }

    .login-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #0f0f0fb0;
        height: 100%;
        width: 65%;

        h2{
            letter-spacing: 2.5px;
            margin: 0;
            text-align: center;
        }
    }
}

.login-button{
    background: none;
    width: 70%;
    border-radius: 0;
    border: 1px solid #ff8800;
    font-size: 20px;
    color: #ff8800;

    &:hover{
        background-color: #ff8800;
        color: white;
    }
}

.toolbar-login{
    display: flex;
    justify-content: center;
    background-color: #282828b0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70%;

    .mb-3{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        align-items: center;

        input{
            width: 70%;
            height: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid white;
            outline-style: none;
            color: white;
        }
    }
}

.login-button-field{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mat-form-field-suffix{
    display: flex !important;
    align-items: center !important;
}

/* BACKGROUND ANIMATION */

section{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 95vh;
    background-color: rgb(20, 20, 20);

    .row{
        position: relative;
        width: 100%;
        display: flex;
        padding: 10px 0px;
        white-space: nowrap;
        transform: rotate(-30deg);
        top: -50%;
        
        div{
            animation: animate1 60s linear infinite;
            animation-delay: -60s;
        }
    }

    mat-icon{
        color: rgba(0,0,0,0.4);
        font-size: 64px;
        width: 64px;
        transition: 1s;
        user-select: none;
        padding: 5px 0px;
        cursor: default;

        &:hover{
            transition: 0s;
            color: #fa9e12;
            text-shadow: 0 0 120px #fa9e12;
        }
    }
}

section .row div:nth-child(2){
    animation: animate2 60s linear infinite;
    animation-delay: -30s;
}

@keyframes animate1{
    0%{
        transform: translateX(100%);
    }100%{
        transform: translateX(-100%);
    }
}

@keyframes animate2{
    0%{
        transform: translateX(0%);
    }100%{
        transform: translateX(-200%);
    }
}



section .row:nth-child(even) div{
    animation: animate3 60s linear infinite;
    animation-delay: -60s;
}

section .row:nth-child(even) div:nth-child(2){
    animation: animate4 60s linear infinite;
    animation-delay: -30s;
}

@keyframes animate3{
    0%{
        transform: translateX(-100%);
    }100%{
        transform: translateX(100%);
    }
}

@keyframes animate4{
    0%{
        transform: translateX(-200%);
    }100%{
        transform: translateX(0);
    }
}

.img-register{
    width: 175px;
    height: 150px;
}

.company-div-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1250px) {
	.mobile-hide {
        display: none;
    }

    .login-field {
        width: 70%;
        height: 70vh;
        flex-direction: column;
    }

    .login-div {
        width: 100% !important;
        h2{
            font-size: 15px;
        }
    }

    .mb-3 {
        flex-direction: column;
        margin-top: 0 !important;
        input{
            text-align: center;
            font-size: 12px;
            width: 100% !important;
            margin-top: 5px;
        }
    }

    .a-tags{
        margin-top: 0;
        text-align: center;
        font-size: 10px;
        flex-direction: column;
        a{
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media (max-width: 550px) {
    .form-container {
        height: calc(100vh - 56px);
    }
}