<div *ngIf="messageService.message && this.messageService.loadMessage" class="message-container">

    <div *ngIf="this.currentlocation == 'channels'" class="message-title">
  
        <h3 *ngIf="isThreadRoute()"><b> Thread </b></h3>
        <h3># {{ this.messageService.message.name }}</h3>

    </div>

    <div *ngIf="this.currentlocation == 'messages' && this.privateChatData" class="message-title">

        <div class="privateChatDescription">
            <img src="{{ this.privateChatData.photoURL }}" />
            <h3 *ngIf="isThreadRoute()"><b> Thread </b></h3>
            <h3>
               #
             
               {{ this.privateChatData.displayName }}
            </h3>
        </div>
    </div>

    

    <div *ngIf="!isThreadRoute()" class="message-show-container">
        <div [ngStyle]="{
        'margin-bottom':
          cloudstorageService.imageURL.length > 0 ? '64px' : '24px'
      }" #scrollEnd class="scroll-container">

            <div #messages *ngFor="let message of this.messageService.message.text; let i = index"
                class="message-user-container" (mouseenter)="onHoverThread(i)" (mouseleave)="onHoverThread(-1)">

                <span (click)="navigateToThread(i)" *ngIf="i == hoverIndexThreadIcon" class="material-icons">
                    comment
                </span>

                <div class="message-userData">
                    <img [matMenuTriggerFor]="showUserData" src="{{ returnUserData(message.userID).photoURL }}" />
                    <mat-menu #showUserData="matMenu">
                        <div class="show-user">
                            <img src="{{ returnUserData(message.userID).photoURL }}" />
                            <div>
                                <h3>{{ returnUserData(message.userID).displayName }}</h3>
                                <div class="userOnline" [ngStyle]="{
                    'background-color': this.returnUserData(message.userID).online
                      ? 'green'
                      : 'red'
                  }"></div>
                            </div>
                            <h4>
                                Status: <i>{{ this.returnUserData(message.userID).status }} </i>
                            </h4>
                            <h4>
                                Email: <b>{{ this.returnUserData(message.userID).email }} </b>
                            </h4>
                        </div>
                    </mat-menu>

                    <h4>{{ this.returnUserData(message.userID).displayName }}</h4>
                    <p>{{ message.time }} Uhr</p>
                </div>
                <p class="word-break" [ngClass]="message.codeFormat ? 'codeFormat' : ''">
                    {{ message.message }}
                </p>
                <div class="chat-image">
                    <div *ngFor="let img of message.images">
                        <!--
            <img (click)="openImageDialog(img)" src="{{ img.src }}" />
            -->
                    </div>
                </div>

                <div class="chat-answer-container">
                    <p (click)="navigateToThread(i)" *ngIf="message.answer.length == 1">
                        {{ message.answer.length }} Antwort
                    </p>
                    <p (click)="navigateToThread(i)" *ngIf="message.answer.length > 1">
                        {{ message.answer.length }} Antworten
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isThreadRoute()" class="message-show-container">
        <router-outlet *ngIf="this.messageService.message.text.length > 0"></router-outlet>
    </div>

    <p>





        <mat-form-field class="message-field" appearance="outline">
            <mat-label>Nachricht senden</mat-label>

            <textarea (keydown)="keyDownFunction($event)" #inputText type="text" [(ngModel)]="text"
                (ngModelChange)="changeText($event)" matInput placeholder="Nachricht senden"
                [ngClass]="formatText ? 'codeFormat' : ''" style="max-width: 80%">
      </textarea>

            <div *ngIf="cloudstorageService.imageURL" class="imagePreview">
                <div (mouseenter)="onHoverChatImage(i)" (mouseleave)="onHoverChatImage(-1)"
                    *ngFor="let img of cloudstorageService.imageURL; let i = index">
                    <img [src]="img.src" />
                    <!--
          <mat-spinner [diameter]="24" *ngIf="!img.uploaded"></mat-spinner>
          -->
                    <span (click)="cloudstorageService.deletePickedImg(img)"
                        *ngIf="i == hoverIndexChatImageIcon && img.uploaded" class="material-icons">
                        clear
                    </span>
                </div>
            </div>

            <div class="input-icons-container">
                <label>
                    <span type="file" class="material-icons"> add_a_photo </span>
                    <input type="file" (change)="
              cloudstorageService.handleFileInput($event, 'chat');
              cloudstorageService.uploadImg('chat')
            " style="display: none" />
                </label>

                <mat-icon matSuffix><span [ngClass]="
              (this.message && this.cloudstorageService.imageURL.length <= 0) ||
              checkUploadAllImages()
                ? ''
                : 'disabledIcon'
            " (click)="send()" class="material-icons-outlined">
                        send
                    </span></mat-icon>
            </div>
        </mat-form-field>
    </p>
</div>

      <!--
    <span
      
    (click)="goBack()"
      *ngIf="isThreadRoute()"
      class="material-icons backIcon"
    >
      undo
    </span>
    -->

        <!--
    <span
      (click)="goBack()"
      *ngIf="isThreadRoute()"
      class="material-icons backIcon"
    >
      undo
    </span>
-->

        <!--
    <span
      (click)="openDialogChannelSettings()"
      *ngIf="!isThreadRoute()"
      class="material-icons backIcon"
    >
      keyboard_arrow_down
    </span>
    -->

<!--
<div class="chat-container">
    <div class="mat-card-div">
        <mat-card>Nachricht an {{ user.displayName }}
            <div class="messages-div">
                <div class="post" *ngFor="let message of allMessages">
                    <mat-icon class="mat-icon">bookmark_border</mat-icon>
                    <div>
                            <img src="assets/icons/user.png" alt="">
                        <div class="message-and-name-div">
                            <div>
                                <span class="name"><b>{{ user.displayName }}</b></span>
                                <span class="time">{{ message.sentAt }} Uhr</span>
                            </div>
                            
                           <span>{{ message.post }}</span> 
                        </div> 
                    </div>  
                </div>
            </div>

            <div class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Message</mat-label>
                    <img *ngIf="url" [src]="url" width="100px" height="100px" (change)="selectFile($event)">
                    <div class="chat-container2">
                        <div class="upload-files-div">
                            <button class="more-btn" mat-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
       
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item cdkFocusInitial>
                                    <div class="file-upload mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                        <span>Upload files from your computer</span>
                                        <input type="file" name="FileAttachment" id="FileAttachment" class="upload" />
                                    </div>
                                </button>   
                            </mat-menu>
                        </div>
                        <input matInput [(ngModel)]="message.post">
                   
                        <button mat-button (click)="send()" cdkFocusInitial>
                            <mat-icon class="send">send</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</div>

-->