
    <mat-drawer-container class="login-background" autosize>

        <mat-toolbar class="toolbar" >
            <mat-toolbar-row>
                <img class="logo" src="assets/icons/LogoMakr-86Inc5.png" alt="">
                <span>Slack</span>
            </mat-toolbar-row>
        </mat-toolbar>
     
        <div class="form-container">
            <form class="login-field">
                <div class="company-div">
                    <div class="company-div-2">
                        <h2>Slack</h2>
                        <img class="img-register" src="assets\icons\LogoMakr-86Inc5.png">
                    </div>
                </div>

                <div class="login-div">
                    <h2>Forgot Password</h2>   

                    <div class="input-fields">
                        <div class="mb-3">
                            <mat-icon>email</mat-icon>
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input placeholder="Enter your Email" type="email" class="form-control" name="email" [(ngModel)]="email">
                          </div>
                        <div class="a-tags">                       
                            <a href="/login" style="text-decoration: none;">Back to login</a>                                    
                        </div>       
                    </div>
                    <button class="login-button" mat-raised-button color="primary" (click)="forgotPassword()">Send Link</button>
                </div>       
            </form>
        </div>
    </mat-drawer-container>