/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container {
    display: block;
    max-width: 300px;
    margin: auto;
    margin-top: 200px;
}

.toolbar{
    background-color: #7b1fa2;
}